#about-me {
    margin: 5% 10%;

    .title-container {

        margin: 1% 0;

        .title {
            font-size: 2.5em;
            margin: 0;
        }

        .description {

            color: #A7A7A7;
            font-size: 1.5em;
        }
    }

}