@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-2%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes shrink {
    0% {
        width: 95%;
    }

    100% {
        width: 90%;
    }
}

.hamburger-menu-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 0.9;
    display: 'flex';
    align-items: center;
    background: 'black';
    width: '100%';
    color: 'white';
}

.hamburger-menu-container-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: black;
    opacity: 0.95;
    color: #fafafa;
    transition: height 0.3s ease;
    z-index: 2;
}

.hamburger-menu-container-menu-list{
    padding-top: 3rem;
}