.home {
    position: relative;
    font-family: 'Fira Code', monospace;
    height: calc(100vh - 94px);
    display: grid;
    place-items: center;
    padding: 0 50px;

    .inner-container {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;

        .left-pane {
            text-align: center;

            .phrase {
                font-size: 18px;
            }

            .title {
                font-size: 62px;
            }
            .role{
                font-size: 32px;
                color: #4D5BCE;
            }
        }

        .right-pane {
            position: relative;
        }
    }
}