.main-container {
  display: grid;
  grid-template-columns: 20% 1fr;
  height: calc(100vh - 94px);
  overflow: auto;
  scroll-behavior: smooth;
}

.body-container {
  height: calc(100vh - 89px);
  overflow: auto;
  scroll-behavior: smooth;
}

@media (max-width: 700px) {
  .body-container {
    height: calc(100vh - 93px);
  }
}
