.project-card {
    width: 100%;
    max-width: 325px;
    border-radius: 20px;
    height: 100%;
    background-color: #363636;
    box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.20);


    .thumbnail-container {
        img {
            width: 100%;
        }
    }

    .project-info {
        padding: 5%;

        .project-title {
            margin: 0;
            padding-bottom: 5%;
            font-size: 28px;
        }

        .project-description {
            margin-top: 0;
        }

        .project-tech-stack {
            .label {
                font-weight: 600;
            }
        }

        .nav-links {
            display: flex;
            justify-content: space-between;
            margin-top: 3%;

            .link {
                color: #fff;
                display: flex;
                align-items: center;
                padding: 1% 0;
            }

            .live-preview {
                svg {
                    width: 25px;
                }
            }

            .view-code {
                svg {
                    width: 35px;
                    height: 35px;
                }
            }
        }

        @media (max-width: 600px) {
            .nav-links {
                flex-direction: column;
            }

        }
    }
}

.LIGHT {
    background-color: #fff;

    .nav-links {
        .link {
            color: #000 !important;
        }
    }
}