.footer-container {
    display: grid;
    grid-template-columns: 10% 35% 40% 15%;
    color: #607B96;

    .center-menu {
        display: grid;
        padding: unset;
        grid-template-columns: repeat(6, 16.66%);
        width: 100%;

        .sub-menu {
            padding: 10px;
            color: #607B96;
            border-right: 0.50px #1E2D3D solid;
            text-decoration: none;
        }
    }

    .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            color: #4D5BCE;

            path {
                fill: #4D5BCE;
            }
        }
    }

    .github-menu {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;

        &:hover {
            color: #4D5BCE;

            path {
                fill: #4D5BCE;
            }
        }
    }

    .menu {
        border: 0.50px #1E2D3D solid;
        padding: 10px;
        color: #607B96;
        text-decoration: none;
    }
}

@media (max-width: 1300px) {
    .footer-container {
        grid-template-columns: 15% 35% 35% 15%;
    }
}

@media (max-width: 1200px) {
    .footer-container {
        grid-template-columns: 15% 45% 15% 25%;
    }
}

@media (max-width: 852px) {
    .footer-container {
        grid-template-columns: 83.34% 16.66%;

        .find-me {
            display: none;
        }

        .empty-menu {
            display: none;
        }

        .github-name {
            display: none;
        }
    }
}