body {
  margin: 0;
  font-family: "Fira Code", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #fea55f;
}

:root {
  --primary-color: ;
  --secondary-color: ;
  --background-color: ;
}

.LIGHT {
  background-color: #fff;
  color: #011627;

  .footer-container,
  .menu,
  .center-menu,
  .sub-menu {
    border-color: #d9d9d9 !important;
  }
}

.DARK {
  color: #fff;
  background-color: #011627;
}
