#projects {
  padding: 3% 0;
  margin: 0 10%;

  .title-container {
    text-align: center;
    margin: 1% 0;

    .title {
      font-size: 2.5em;
      margin: 0;
    }

    .description {
      color: #a7a7a7;
      font-size: 1.5em;
    }
  }

  .tools-container {
    margin-top: 5%;
  }

  .projects-list-container {
    display: grid;
    gap: 35px;
    place-items: center;
  }
}
